*,
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f2ebe3;
}

body,
p,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
}

body,
p {
  color: #6c7289;
}

button {
  cursor: pointer;
}

button.add-cart:hover {
  background-color: #113829;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.main-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 22px 15px;
}

.card {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "c-img" "c-body" "c-footer";
  border-radius: 10px;
}

.card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c-img;
}

.card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c-body;
  padding: 23px;
  overflow: hidden;
}

.card-body .tag {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  -webkit-animation: slideLeft .5s ease 0s 1 normal forwards;
          animation: slideLeft .5s ease 0s 1 normal forwards;
}

.card-body h1 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
  color: #1c232b;
  letter-spacing: 1px;
  line-height: 34px;
  margin-bottom: 18px;
  -webkit-animation: slideLeft 1s ease 0s 1 normal forwards;
          animation: slideLeft 1s ease 0s 1 normal forwards;
}

.card-body p {
  line-height: 1.5;
  -webkit-animation: slideLeft 1.5s ease 0s 1 normal forwards;
          animation: slideLeft 1.5s ease 0s 1 normal forwards;
}

.card-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c-footer;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "c-price c-price-old" "c-btn c-btn";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  row-gap: 15px;
  padding: 0 27px;
  overflow: hidden;
}

.card-footer .price {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c-price;
  color: #3c8067;
  font-size: 31px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 40px;
  -webkit-animation: fadeIn 2s ease 0s 1 normal forwards;
          animation: fadeIn 2s ease 0s 1 normal forwards;
}

.card-footer .price-old {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c-price-old;
  text-decoration: line-through;
  -webkit-animation: fadeIn 2s ease 0s 1 normal forwards;
          animation: fadeIn 2s ease 0s 1 normal forwards;
}

.card-footer .add-cart {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c-btn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 50px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  background-color: #3c8067;
  border: 1px solid #3c8067;
  -webkit-animation: slideBottom 1s ease 0s 1 normal forwards;
          animation: slideBottom 1s ease 0s 1 normal forwards;
}

@media screen and (min-width: 658px) {
  .card {
        grid-template-areas: "c-img c-body" "c-img c-footer";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1.5fr -5fr;
        grid-template-rows: 1.5fr -5fr;
    max-width: 595px;
  }
  .card-image img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .card-body {
    padding: 30px 32px 0;
  }
  .card-body .tag {
    margin-bottom: 20px;
  }
  .card-body h1 {
    margin-bottom: 27px;
  }
  .card-footer {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 18px;
    padding: 17px 32px 29px;
  }
  .card-tag {
    margin-bottom: 24px;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */